<template>
  <div>
    <div class="search-container">
      <Input class="input-container" :label="$t('evrimed_merm_id')" :placeholderText="$t('enter_merm_id')" :isRequired="true" v-model="imei"/>
      <Button class="button-container" :label="$t('Search')" :color="'primary'" @click="click()"/>
    </div>
    <p class="text-ibm-plex-sans loading" v-if="mermDetailsLoading">{{ $t('Loading') }}  <font-awesome-icon icon="spinner" class="fa-lg" spin />
    <div v-if="mermDetailsLoaded">
      <div v-if="mermData && mermData.length==0" class="loading">
        <b class="text-ibm-plex-sans imei-null">{{ $t('merm_details_not_found') }}</b>
      </div>
      <div v-else class="merm-data-container">
        <div v-for="merm in mermData" :key="merm.key" class="merm-data">
          <p>{{ $t(merm.key) }} </p>
          <div>
            <a v-if="merm.key==$t('patient_id_web') && merm.value!=='-'" :href="`patient/${merm.value}`" class="merm-value-patient">{{ merm.value }}</a>
            <b v-else>{{ merm.value==null ? "-" : merm.value }}</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Input from '../../../shared/components/Input.vue'
import Button from '../../../shared/components/Button.vue'
import { mapActions } from 'vuex'

export default {
  name: 'Evrimed',
  data () {
    return {
      imei: null,
      mermDetailsLoading: false,
      mermDetailsLoaded: false,
      mermData: []
    }
  },
  components: {
    Input,
    Button
  },
  methods: {
    ...mapActions('Evrimed', ['getMermDetails', 'checkPermission']),
    async click () {
      this.mermDetailsLoading = true
      this.mermDetailsLoaded = false
      this.mermData = await this.getMermDetails(this.imei)
      this.mermDetailsLoading = false
      this.mermDetailsLoaded = true
    }
  },
  beforeMount () {
    this.checkPermission()
  }
}
</script>

<style  scoped>
.input-container {
    display: inline-flex;
    box-sizing: content-box;
    align-items: center;
    min-width: 50%;
    margin: 20px 10px 50px 20px;
}
.search-container {
    border: 1px solid var(--input-border);
    align-items: center;
    border-radius: 6px;
    margin: 50px;
}
.loading {
    text-align: center;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
    color: var(--text-primary-color)
}
.merm-data-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 4px;
    margin: 15px 50px 15px 50px;
    min-height: 220px;
    color: var(--text-primary-color);
    box-shadow: 0px 2px 2px var(--very-light-shadow);
    background-color: var(--background-color-primary-light-dark);
    padding: 10px 0 10px 0;
}
.merm-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 15px;
    margin-left: 15px;
}
.merm-value-patient {
  color: #0053FF;
}
</style>
