/* Utility css */
// Following code generates margin and padding classes
// unique initials => uf unified fronend
// margin/padding =>m/p
// inital letter of (top, bottom, left, right, all) => t/b/l/r/a
// size => xs/sm/md/lg/xl
//example => ufma-md, ufpl-lg etc
// Margin and Pading class generator
$spaceamounts: (vxs,xs,sm,md,lg,xl);
$sides: (top, bottom, left, right, all);

@function getValueForSpace($space) {
  $result: 0.5;
  $addValue:0.25;
  $result : $result - $addValue;
  @if $space == vxs {@return $result;}
  $result : $result + $addValue;
  @if $space == xs {@return $result;}
  $result : $result + $addValue;
  @if $space == sm {@return $result;}
  $result : $result + $addValue;
  @if $space == md {@return $result;}
  $result : $result + $addValue;
  @if $space == lg {@return $result;}
  $result : $result + $addValue;
  @return $result;
}

@each $space in $spaceamounts {
  @each $side in $sides {
    .ufm#{str-slice($side, 0, 1)}-#{$space} {
      @if $side == all{
        margin: getValueForSpace($space) * 1rem !important;
      }
      @else{
        margin-#{$side}: getValueForSpace($space) * 1rem !important;
      }
    }

    .ufp#{str-slice($side, 0, 1)}-#{$space} {
      @if $side == all{
        padding: getValueForSpace($space) * 1rem !important;
      }
      @else{
        padding-#{$side}: getValueForSpace($space) * 1rem !important;
      }
    }
  }
}
