<template>
    <div>
    <Modal :headingText="$t(`create_hierarchy`)"  @close="close()" @click="onOk()" :disableConfirmBtn="!overallError">
      <div slot="body" v-if="Object.keys(parentDetails).length && Object.keys(addNewHierarchConfig).length">
        <div name = "add-hierarchy-body" >
            <div class="adjust-width">
            <Input :label="$t(`parent_hierarchy_id`)" orientation="v" name="Parent Hierarchy Id" :value="parentDetails.Id.toString()" :isDisabled="true"/>
            <Input :label="$t(`level`)"  orientation="v" name="Parent Hierarchy Level" :value="(parentDetails.Level +1).toString()" :isDisabled="true"/>
            </div>
            <Select :label="$t(`type`)"  :allOptions="availableTypes" name="type" orientation="v" v-model="type" :hasError="typeError" :errorMessage="$t(typeErrorMessage)"/>
            <div class="adjust-width">
            <Input :label="$t(`name`)"  orientation="v" name="Name" v-model="name" :hasError="nameError" :errorMessage="$t(nameErrorMessage)"/>
            <Input :label="$t(`code`)"  orientation="v" name="Code" v-model="code" :hasError="codeError" :errorMessage="$t(codeErrorMessage)"/>
            </div>
            <Checkbox :label="''"  :optionsWithKeyValue="availableMonitoringMethodsAsOptions" v-model="monitoringMethods" orientation="v" />
            <br>
        </div>
      </div>
    </Modal>
    </div>
</template>
<script>
import Input from '@/app/shared/components/Input.vue'
import Modal from '@/app/shared/components/Modal.vue'
import Checkbox from '@/app/shared/components/CheckboxGroup.vue'
import Select from '@/app/shared/components/Select.vue'

import { mapActions, mapState } from 'vuex'
export default {
  name: 'addHierarchy',
  components: {
    Input,
    Modal,
    Checkbox,
    Select
  },
  props: {
    parentHierachyId: {
      default: null
    }
  },
  computed: {
    ...mapState('HiearachyManagement', [
      'allHierarchyResponse',
      'addNewHierarchConfig'
    ]),
    availableTypes () {
      return this.addNewHierarchConfig.responseForType.map(elm => { return { Key: elm, Value: elm } })
    },
    availableMonitoringMethodsAsOptions () {
      const that = this
      return Object.keys(this.addNewHierarchConfig.responseForParentMonitoringMethods)
        .filter((key) => this.addNewHierarchConfig.responseForParentMonitoringMethods[key])
        .reduce((cur, key) => { return [...cur, { Key: key, Value: that.allowStringMap[key] }] }, [])
    },
    overallError () {
      return !this.codeError && !this.nameError && !this.typeError
    }
  },
  methods: {
    ...mapActions('HiearachyManagement', [
      'getAddNewHierarchyConfig',
      'addNewHierarchy'
    ]),
    getParentDetails (parentId) {
      return this.allHierarchyResponse.filter(elm => elm.Id === parentId)[0]
    },
    close () {
      this.$emit('addhierarchyclosed')
    },
    async onOk () {
      await this.addNewHierarchy({
        data: {
          name: this.name,
          code: this.code,
          parentId: this.parentHierachyId.toString(),
          type: this.type.Key,
          level: (this.parentDetails.Level + 1).toString(),
          ...(this.getSelectedMonitoringMethodsAsMap())
        }
      })
      this.$emit('addhierarchyclosed')
    },
    getSelectedMonitoringMethodsAsMap () {
      const that = this
      return Object.keys(this.allowStringMap).reduce((cur, key) => { return Object.assign(cur, { [key]: that.monitoringMethods.includes(key) }) }, {})
    }
  },
  data () {
    return {
      parentDetails: {},
      type: [],
      name: null,
      code: null,
      monitoringMethods: [],
      allowStringMap: {
        hasMERM: 'allow_MERM_registration',
        hasVOT: 'allow_VOT',
        has99DOTS: 'allow_99dots',
        has99DOTSLite: 'allow_99dotsLite',
        hasNONE: 'allow_follow_up_without_tech'
      },
      nameError: true,
      nameErrorMessage: '',
      codeError: true,
      codeErrorMessage: '',
      typeError: true,
      typeErrorMessage: ''
    }
  },
  async mounted () {
    this.parentDetails = this.parentHierachyId !== null ? this.getParentDetails(this.parentHierachyId) : {}
    await this.getAddNewHierarchyConfig({ params: { id: this.parentHierachyId, configName: 'ChildrenHierarchyType' } })
  },
  watch: {
    async parentHierachyId () {
      this.parentDetails = this.getParentDetails(this.parentHierachyId)
      await this.getAddNewHierarchyConfig({ params: { id: this.parentHierachyId, configName: 'ChildrenHierarchyType' } })
    },
    name () {
      if (this.name?.length === 0) {
        this.nameError = true
        this.nameErrorMessage = 'enter_vaild_name'
      } else if (this.name?.length > 255) {
        this.nameError = true
        this.nameErrorMessage = 'name_to_be_less_than'
      } else {
        this.nameError = false
      }
    },
    code () {
      if (this.code.length === 0) {
        this.codeError = true
        this.codeErrorMessage = 'enter_vaild_code'
      } else if (this.code.length > 10 || this.code !== this.code.toUpperCase()) {
        this.codeError = true
        this.codeErrorMessage = 'hierarchy_code_validation_msg'
      } else {
        this.codeError = false
      }
    },
    type () {
      if (this.type.length === 0) {
        this.typeError = true
        this.typeErrorMessage = 'hierarchy_type_selection_err_msg '
      } else {
        this.typeError = false
      }
    }
  }
}
</script>
<style scoped>
.adjust-width {
    width: calc(100% - 32px);
}
</style>
