<template>
  <svg
    :width="width"
    :height="height"
    viewBox="0 0 18 15"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
        d="M2.813 11.25H0.563001C0.413857 11.25 0.270807 11.3092 0.165253 11.4145C0.0596986 11.5199 0.0002658 11.6629 8.91348e-07 11.812V14.062C-0.000130848 14.136 0.0143417 14.2092 0.0425884 14.2776C0.0708351 14.346 0.1123 14.4081 0.164606 14.4604C0.216912 14.5127 0.279029 14.5542 0.347394 14.5824C0.41576 14.6107 0.48903 14.6251 0.563001 14.625H2.813C2.88689 14.6251 2.96008 14.6107 3.02838 14.5825C3.09668 14.5543 3.15875 14.5129 3.21104 14.4607C3.26333 14.4085 3.30482 14.3465 3.33313 14.2783C3.36143 14.21 3.376 14.1369 3.376 14.063V11.813C3.376 11.6637 3.31668 11.5205 3.2111 11.4149C3.10552 11.3093 2.96232 11.25 2.813 11.25ZM2.813 0H0.563001C0.413857 -2.35265e-07 0.270807 0.0591802 0.165253 0.164547C0.0596986 0.269914 0.0002658 0.412857 8.91348e-07 0.562V2.812C-0.000130848 2.88597 0.0143417 2.95924 0.0425884 3.02761C0.0708351 3.09597 0.1123 3.15809 0.164606 3.2104C0.216912 3.2627 0.279029 3.30417 0.347394 3.33241C0.41576 3.36066 0.48903 3.37513 0.563001 3.375H2.813C2.88689 3.37513 2.96008 3.36069 3.02838 3.33251C3.09668 3.30432 3.15875 3.26295 3.21104 3.21075C3.26333 3.15855 3.30482 3.09655 3.33313 3.0283C3.36143 2.96005 3.376 2.88689 3.376 2.813V0.563C3.376 0.413683 3.31668 0.270481 3.2111 0.164898C3.10552 0.0593149 2.96232 0 2.813 0ZM2.813 5.625H0.563001C0.413857 5.625 0.270807 5.68418 0.165253 5.78955C0.0596986 5.89491 0.0002658 6.03786 8.91348e-07 6.187V8.437C-0.000130848 8.51097 0.0143417 8.58424 0.0425884 8.65261C0.0708351 8.72097 0.1123 8.78309 0.164606 8.8354C0.216912 8.8877 0.279029 8.92917 0.347394 8.95741C0.41576 8.98566 0.48903 9.00013 0.563001 9H2.813C2.88689 9.00013 2.96008 8.98569 3.02838 8.95751C3.09668 8.92932 3.15875 8.88795 3.21104 8.83575C3.26333 8.78355 3.30482 8.72155 3.33313 8.6533C3.36143 8.58505 3.376 8.51189 3.376 8.438V6.188C3.376 6.03868 3.31668 5.89548 3.2111 5.7899C3.10552 5.68431 2.96232 5.625 2.813 5.625ZM17.438 11.813H6.187C6.11311 11.813 6.03995 11.8276 5.9717 11.8559C5.90345 11.8842 5.84145 11.9257 5.78925 11.978C5.73705 12.0303 5.69568 12.0923 5.66749 12.1606C5.63931 12.2289 5.62487 12.3021 5.625 12.376V13.5C5.62487 13.5739 5.63931 13.6471 5.66749 13.7154C5.69568 13.7837 5.73705 13.8457 5.78925 13.898C5.84145 13.9503 5.90345 13.9918 5.9717 14.0201C6.03995 14.0484 6.11311 14.063 6.187 14.063H17.437C17.511 14.0631 17.5842 14.0487 17.6526 14.0204C17.721 13.9922 17.7831 13.9507 17.8354 13.8984C17.8877 13.8461 17.9292 13.784 17.9574 13.7156C17.9857 13.6472 18.0001 13.574 18 13.5V12.375C18.0001 12.3011 17.9857 12.2279 17.9575 12.1596C17.9293 12.0913 17.8879 12.0293 17.8357 11.977C17.7835 11.9247 17.7215 11.8832 17.6533 11.8549C17.585 11.8266 17.5119 11.812 17.438 11.812V11.813ZM17.438 0.563H6.187C6.03786 0.563265 5.89491 0.622698 5.78955 0.728252C5.68418 0.833807 5.625 0.976856 5.625 1.126V2.25C5.62487 2.32389 5.63931 2.39707 5.66749 2.46537C5.69568 2.53367 5.73705 2.59575 5.78925 2.64804C5.84145 2.70033 5.90345 2.74182 5.9717 2.77013C6.03995 2.79843 6.11311 2.813 6.187 2.813H17.437C17.511 2.81313 17.5842 2.79866 17.6526 2.77041C17.721 2.74217 17.7831 2.7007 17.8354 2.6484C17.8877 2.59609 17.9292 2.53397 17.9574 2.46561C17.9857 2.39724 18.0001 2.32397 18 2.25V1.125C18 0.975856 17.9408 0.832807 17.8355 0.727253C17.7301 0.621699 17.5871 0.562265 17.438 0.562V0.563ZM17.438 6.188H6.187C6.03786 6.18826 5.89491 6.2477 5.78955 6.35325C5.68418 6.45881 5.625 6.60186 5.625 6.751V7.876C5.62487 7.94989 5.63931 8.02307 5.66749 8.09137C5.69568 8.15967 5.73705 8.22175 5.78925 8.27404C5.84145 8.32633 5.90345 8.36782 5.9717 8.39613C6.03995 8.42443 6.11311 8.439 6.187 8.439H17.437C17.5111 8.43913 17.5844 8.42463 17.6528 8.39632C17.7213 8.36801 17.7834 8.32646 17.8358 8.27404C17.8881 8.22163 17.9295 8.1594 17.9577 8.09092C17.9859 8.02243 18.0003 7.94906 18 7.875V6.75C18 6.60086 17.9408 6.45781 17.8355 6.35225C17.7301 6.2467 17.5871 6.18727 17.438 6.187V6.188Z"
        :fill="fill"
    />
  </svg>
</template>

<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 18
    },
    height: {
      type: [Number, String],
      default: 18
    },
    fill: {
      type: String,
      default: '#9CA6BA'
    }
  }
}
</script>
