<template>
  <svg
    :width="width"
    :height="height"
    viewBox="0 0 18 14"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
        d="M8.99926 0C7.41704 0.000130322 5.86282 0.417371 4.49326 1.20966C3.12371 2.00196 1.98722 3.1413 1.19837 4.51284C0.409522 5.88438 -0.0038158 7.43964 2.65458e-05 9.02185C0.00386889 10.6041 0.424755 12.1573 1.22026 13.525C1.30954 13.6718 1.43553 13.7928 1.5858 13.8761C1.73608 13.9594 1.90546 14.0021 2.07726 14H15.9213C16.0931 14.0021 16.2624 13.9594 16.4127 13.8761C16.563 13.7928 16.689 13.6718 16.7783 13.525C17.5738 12.1573 17.9946 10.6041 17.9985 9.02185C18.0023 7.43964 17.589 5.88438 16.8001 4.51284C16.0113 3.1413 14.8748 2.00196 13.5053 1.20966C12.1357 0.417371 10.5815 0.000130322 8.99926 0ZM8.99926 2C9.21659 2.00162 9.42732 2.07492 9.59873 2.20855C9.77014 2.34217 9.89265 2.52863 9.94726 2.739C9.90647 2.80574 9.87039 2.87524 9.83926 2.947L9.55126 3.812C9.39078 3.92957 9.19814 3.99518 8.99926 4C8.73404 4 8.47969 3.89464 8.29215 3.70711C8.10462 3.51957 7.99926 3.26522 7.99926 3C7.99926 2.73478 8.10462 2.48043 8.29215 2.29289C8.47969 2.10536 8.73404 2 8.99926 2ZM2.99926 11C2.80148 11 2.60814 10.9414 2.44369 10.8315C2.27924 10.7216 2.15107 10.5654 2.07538 10.3827C1.99969 10.2 1.97989 9.99889 2.01847 9.80491C2.05706 9.61093 2.1523 9.43274 2.29215 9.29289C2.432 9.15304 2.61019 9.0578 2.80417 9.01921C2.99815 8.98063 3.19922 9.00043 3.38194 9.07612C3.56467 9.15181 3.72085 9.27998 3.83073 9.44443C3.94061 9.60888 3.99926 9.80222 3.99926 10C3.99926 10.2652 3.8939 10.5196 3.70637 10.7071C3.51883 10.8946 3.26448 11 2.99926 11ZM4.49926 6C4.30148 6 4.10814 5.94135 3.94369 5.83147C3.77924 5.72159 3.65107 5.56541 3.57538 5.38268C3.49969 5.19996 3.47989 4.99889 3.51847 4.80491C3.55706 4.61093 3.6523 4.43274 3.79215 4.29289C3.932 4.15304 4.11019 4.0578 4.30417 4.01921C4.49815 3.98063 4.69922 4.00043 4.88194 4.07612C5.06467 4.15181 5.22085 4.27998 5.33073 4.44443C5.44061 4.60888 5.49926 4.80222 5.49926 5C5.49926 5.26522 5.3939 5.51957 5.20637 5.70711C5.01883 5.89464 4.76447 6 4.49926 6ZM12.2113 3.737L10.2943 9.487C10.6529 9.78652 10.8929 10.2041 10.9711 10.6648C11.0494 11.1254 10.9608 11.5988 10.7213 12H7.27626C7.10238 11.7074 7.00692 11.3748 6.9991 11.0345C6.99128 10.6942 7.07137 10.3577 7.23163 10.0574C7.39189 9.75706 7.62689 9.50317 7.91394 9.32022C8.20099 9.13728 8.53037 9.03146 8.87026 9.013L10.7873 3.263C10.8502 3.0743 10.9856 2.91835 11.1636 2.82946C11.2517 2.78544 11.3476 2.75921 11.4459 2.75227C11.5442 2.74533 11.6428 2.75781 11.7363 2.789C11.8297 2.82019 11.9161 2.86948 11.9905 2.93405C12.0648 2.99862 12.1258 3.07721 12.1698 3.16533C12.2138 3.25346 12.24 3.34938 12.247 3.44764C12.2539 3.5459 12.2414 3.64456 12.2103 3.738L12.2113 3.737ZM12.6693 5.524L13.1543 4.069C13.2642 4.0255 13.3811 4.00213 13.4993 4C13.7645 4 14.0188 4.10536 14.2064 4.29289C14.3939 4.48043 14.4993 4.73478 14.4993 5C14.4993 5.26522 14.3939 5.51957 14.2064 5.70711C14.0188 5.89464 13.7645 6 13.4993 6C13.3319 5.99773 13.1678 5.95283 13.0226 5.86955C12.8774 5.78626 12.7558 5.66734 12.6693 5.524ZM14.9993 11C14.8015 11 14.6081 10.9414 14.4437 10.8315C14.2792 10.7216 14.1511 10.5654 14.0754 10.3827C13.9997 10.2 13.9799 9.99889 14.0185 9.80491C14.0571 9.61093 14.1523 9.43274 14.2922 9.29289C14.432 9.15304 14.6102 9.0578 14.8042 9.01921C14.9981 8.98063 15.1992 9.00043 15.3819 9.07612C15.5647 9.15181 15.7208 9.27998 15.8307 9.44443C15.9406 9.60888 15.9993 9.80222 15.9993 10C15.9993 10.2652 15.8939 10.5196 15.7064 10.7071C15.5188 10.8946 15.2645 11 14.9993 11Z"
        :fill="fill"
    />
  </svg>
</template>

<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 18
    },
    height: {
      type: [Number, String],
      default: 18
    },
    fill: {
      type: String,
      default: '#9CA6BA'
    }
  }
}
</script>
