<template>
  <svg
    :width="width"
    :height="height"
    viewBox="0 0 18 21"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
        d="M9 10.286C10.0172 10.286 11.0115 9.98437 11.8573 9.41925C12.7031 8.85413 13.3623 8.0509 13.7515 7.11114C14.1408 6.17138 14.2426 5.1373 14.0442 4.13965C13.8457 3.14201 13.3559 2.22561 12.6367 1.50635C11.9174 0.787091 11.001 0.297267 10.0033 0.0988236C9.0057 -0.0996202 7.97162 0.00222838 7.03186 0.39149C6.0921 0.780751 5.28887 1.43994 4.72375 2.2857C4.15863 3.13147 3.857 4.12581 3.857 5.143C3.85687 5.81843 3.98981 6.48726 4.24822 7.1113C4.50663 7.73534 4.88546 8.30235 5.36306 8.77995C5.84065 9.25754 6.40767 9.63637 7.0317 9.89478C7.65574 10.1532 8.32457 10.2861 9 10.286ZM12.6 11.572H11.929C11.0106 11.9955 10.0113 12.2149 9 12.2149C7.98867 12.2149 6.98937 11.9955 6.071 11.572H5.4C3.96783 11.572 2.59432 12.1409 1.58162 13.1536C0.568927 14.1663 0 15.5398 0 16.972L0 18.643C0 19.1546 0.203233 19.6453 0.564991 20.007C0.926749 20.3688 1.4174 20.572 1.929 20.572H16.071C16.5826 20.572 17.0733 20.3688 17.435 20.007C17.7968 19.6453 18 19.1546 18 18.643V16.971C18 15.5388 17.4311 14.1653 16.4184 13.1526C15.4057 12.1399 14.0322 11.571 12.6 11.571V11.572Z"
        :fill="fill"
    />
    </svg>
</template>

<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 18
    },
    height: {
      type: [Number, String],
      default: 18
    },
    fill: {
      type: String,
      default: '#9CA6BA'
    }
  }
}
</script>
