<template>
  <div>
      <div v-if="!editing" class="merm-container">
        <p class="text-ibm-plex-sans loading" v-if="mermDetailsLoading">
          {{ $t('Loading') }}
          <font-awesome-icon icon="spinner" class="fa-lg" spin />
        <div v-if="mermDetailsLoaded">
          <div v-if="mermDetails.length==0" class="loading">
            <b class="text-ibm-plex-sans imei-null">{{ $t('merm_details_not_found') }}</b>
          </div>
          <div class="merm-header" v-else>
            <Button id="mermEditBtn" class="edit-button" :label="$t('edit_details')" :color="'primary'" @click="edit()"/>
          </div>
          <div class="merm-data-container">
                <div class="merm-data">
                  <div class="merm-key">{{ $t('merm_serial_number') }}</div>
                  <div class="merm-key merm-value">{{ mermDetails.Imei }}</div>
                </div>
                <div class="merm-data">
                  <div class="merm-key">{{ $t('merm_allocated_on') }}</div>
                  <div class="merm-key merm-value">{{ mermDetails.AllocatedOn }}</div>
                </div>
                <div class="merm-data">
                  <div class="merm-key">{{ $t('merm_last_seen') }}</div>
                  <div class="merm-key merm-value">{{ mermDetails.LastSeen == null ? $t('never') : mermDetails.LastSeen}}</div>
                </div>
                <div class="merm-data">
                  <div class="merm-key">{{ $t('merm_last_opened') }}</div>
                  <div class="merm-key merm-value">{{ mermDetails.LastOpened == null ? $t('never') : mermDetails.LastOpened}}</div>
                </div>
                <div class="merm-data">
                  <div class="merm-key">{{ $t('merm_last_known_battery_level') }}</div>
                  <div class="merm-key merm-value">{{ mermDetails.LastBattery}}</div>
                </div>
                <div class="merm-data">
                  <div class="merm-key">{{ $t('merm_rt_hours') }}</div>
                  <div class="merm-key merm-value">{{ mermDetails.RTHours }}</div>
                </div>
                <div class="merm-data">
                  <div class="merm-key">{{ $t('merm_alarm_enabled') }}</div>
                  <div class="merm-key merm-value">{{ mermDetails.AlarmEnabled ? $t('yes') : $t('no')}}</div>
                </div>
                <div class="merm-data">
                  <div class="merm-key">{{ $t('merm_alarm_time') }}</div>
                  <div class="merm-key merm-value">{{ mermDetails.AlarmTime }}</div>
                </div>
                <div class="merm-data">
                  <div class="merm-key">{{ $t('merm_refill_alarm_enabled') }}</div>
                  <div class="merm-key merm-value">{{ mermDetails.RefillAlarmEnabled ? $t('yes') : $t('no')}}</div>
                </div>
                <div class="merm-data">
                  <div class="merm-key">{{ $t('merm_refill_alarm_date_and_time') }}</div>
                  <div class="merm-key merm-value">{{ mermDetails.RefillAlarmDate }}  {{mermDetails.RefillAlarmTime }}</div>
                </div>
          </div>
        </div>
      </div>
      <div v-else>
        <EditMerm :patientId="patientId"/>
      </div>
    </div>
</template>

<script>

import { mapState, mapActions } from 'vuex'
import EditMerm from './EditMerm'
import Button from '../../../../shared/components/Button'

export default {
  name: 'MERM',
  components: {
    Button,
    EditMerm
  },
  data () {
    return {
      editing: false
    }
  },
  props: {
    patientId: {
      type: String,
      default: null
    }
  },
  computed: {
    ...mapState('MERM', ['mermDetails', 'mermDetailsLoading', 'mermDetailsLoaded'])
  },
  methods: {
    ...mapActions('MERM', ['getMermDetails']),
    edit () {
      this.editing = true
    }
  },
  async mounted () {
    await this.getMermDetails(this.patientId)
  }
}
</script>

<style lang="scss" scoped>
.merm-container {
  padding: 10px;
  background-color: var(--background-color-primary-light-dark);
}
.merm-line {
  margin: 0px 0 10px 0;
  height: 1px;
  background-color: #cacbd9;
  border:none;
}
.button-container {
  display: grid;
  justify-content: end;
}
.merm-data-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  border-radius: 4px;
  border: 1px solid var(--input-border);
  padding: 0 0px 10px 10px;
}
.merm-data {
  display: grid;
  grid-template-columns: repeat(2, 1000fr);
  margin-top: 15px;
  margin-left: 5px;
  justify-items: left;
}
.merm-key{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.0125em;
  color: #A0A3BD;
}
.merm-value {
  color: var(--table-row-color);
}
.loading {
  text-align: center;
  margin-top: 10px !important;
  margin-bottom: 5px !important;
}
.merm-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0 10px 0;
}
</style>
